.About{
    padding: 150px 250px;
    width: 100%;
    display: flex;
    gap: 3rem;
}

.about-img img{
    width: 25rem;
    height: 20rem;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: contain;
}

.about-text h4{
    color: #147EFB;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.about-text h3{
    color: #2D2E32;
    font-size: 1.5rem;
    line-height: 1.4;
    margin-bottom: 15px;
}

.about-text p{
    text-align: left;
    color: #767676;
    font-family: 'Mulish';
    font-size: 1.1rem;
}

/* Responsive Breakpoint 1 */

@media (max-width : 420px){
    .About{
        padding: 20px 40px;
        flex-direction: column;
        align-items: center;
    }

    .about-img img{
        max-width: 300px;
        max-height: 240px;
        background-size: cover;
    }

    .about-text{
        text-align: left;
    }

    .about-text h3{
        margin-bottom: 25px;
    }
}

@media (min-width : 500px) and (max-width : 820px){
    .About{
        padding: 40px 60px;
        flex-direction: column;
        align-items: center;
    }

    .about-img img{
        max-width: 300px;
        max-height: 240px;
        background-size: cover;
    }

    .about-text{
        text-align: center;
    }

    .about-text p{
        text-align: center;
    }
}