/* Alternate background color which can be used is #F9F9F9 */

.Home{
    width: 100%;
    height: 90vh;
    padding: 100px 250px;
    background-color: #fff5f5;
}

.main{
    display: flex;
    gap: 10rem;
    align-items: center;
}

/* Text area styling */

.main-text-area{
    color: #2D2E32;
}

.main-text-area h1{
    font-size: 3.5rem;
    line-height: 1.2;
    margin-bottom: 1.2rem;
}

.main-text-area p{
    color: #555;
    font-family: 'Mulish';
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.main-text-area .icons{
    font-size: 2.2rem;
}

.main-text-area .icons a{
    text-decoration: none;
    color: #2D2E32;
}

.main-text-area .icons .ri-linkedin-box-line{
    margin-right: 10px;
}

.main-text-area .icons i{
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.main-text-area .icons i:hover{
    color: #147EFB;
}

/* Home image styling */


@keyframes morph{
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50%{
        border-radius: 50%
    }

    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.main-img-area img{
    width: 20.5rem;
    height: 21rem;
    border: 2px solid black;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    animation: morph 8s ease-in-out infinite;
    transition: all 2s ease-out;
    background-position: center;
}

.skills{
    display: flex;
    gap: 3rem;
    align-items: center;
    margin-top: 4rem;
}

.skills h3{
    color: #2D2E32;
    font-family: 'Mulish';
}

.skills p{
    color: gray;
    font-size: 1.8rem;
}

.skills-icon img{
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.skills-icon img:hover{
    transform: translateY(-1rem);
}


/* Responsive Breakpoint */

@media (max-width : 420px){

    .Home{
        padding: 20px 40px;
        height: auto;
    }

    .main{
        flex-direction: column-reverse;
        gap: 1.5rem;
        text-align: center;
    }

    .skills{
        flex-direction: column;
        gap: 1rem;
    }

    .skills h3{
        border-bottom: 2px solid gray;
        padding-bottom: 1.2rem;
        margin-bottom: 1rem;
    }

    .skills p{
        display: none;
    }
}

/* Responsive Breakpoint 2 */

@media (max-width : 820px){
    .Home{
        padding: 40px 60px;
        height: auto;
    }

    .main{
        flex-direction: column-reverse;
        gap: 1.5rem;
        text-align: center;
    }

    .skills{
        flex-direction: column;
        gap: 1rem;
    }

    .skills h3{
        border-bottom: 2px solid gray;
        padding-bottom: 1.2rem;
        margin-bottom: 1rem;
    }

    .skills p{
        display: none;
    }
}